body{
  background-image: url(../happy.jpg);
   background-repeat: no-repeat;
}


.papa{
  padding-left: 600px;
  width: 250px;
  height: 250px;


}
.rutus{
  float: left;

}
.B{
  float: left;
  padding-left: 450px;
  padding-top: 20px;
}
h1{
  font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: right;
   font-size: 2.5rem;
   margin: 10px;
   z-index: 1;
   opacity: 0.9;

}
h2{
  font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: right;
   font-size: 1.8rem;
   margin: 10px;
   z-index: 1;
 padding-top: 250px;
   opacity: 0.9;
}
h3{
  font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: right;
   font-size: 1.5rem;
   margin: 10px;
   z-index: 1;
   opacity: 0.9;
}
